/* MAIN.CSS */

*{
    outline:none;
}

body{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    min-width:600px;
}

#mainInfo{
    position:absolute;
    /* left:32.5%; */
    top:15%;
    text-align:center;
    margin-bottom:5%;
    padding:1%;
    width:300px;
    border-width:0;
    border-radius:5px;
    background-color:#ebe7e3;
    box-shadow:0 3px 26.46px 0.54px rgba(0,0,0,0.1);
}

#mainInfo-link a{
    color:blue;
    text-decoration:none;
}

#mainInfo a:hover{
    text-decoration:underline blue;
}

#mainInfo-butt-close{
    float:right;
    border:none;
    background-color:rgb(231, 231, 231);
    font-size:25px;
    cursor:pointer;
    transition:0.5s;
}

#mainInfo-butt-close:hover{
    color:gray;
}

#mainInfo-title{
    margin-top:10%;
    font-size:750%;
    position:relative;
}

#mainInfo-info{
    font-size:200%;
}

.num{
    width:auto;
    /*height:0.3em;*/
    /*font-size:800%;*/
    background-color:rgb(255, 255, 255);
    display:inline-block;
    text-align:center;
    padding:0px;
    color:rgb(0, 0, 0);
    cursor:pointer;
    transition:1s;
    margin-top:0px;
    margin-bottom:0px;
}



#main{
    transition:1s;
}

#final{
    text-align:center;
    transition:1s;
}

#final a{
    text-decoration:none;
    color:black;
}

#linkFinal{
    font-size:800%; 
}

#linkFinal:hover{
    text-decoration:underline black;
}

infLink:hover{
    text-decoration:underline black;
}

.inf{
    font-size:350%;
}

.dopInf{
    font-size:120%;
}