/* MAIN.CSS */

*{
    outline:none;
}

body{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

#mainInfo{
    position:absolute;
    left:30%;
    top:22%;
    text-align:center;
    margin-bottom:5%;
    padding:1%;
    border-width:0;
    border-radius:5px;
    background-color:#ebe7e3;
}

/* .ui-widget-header{
    background-color:rgb(231, 231, 231);
}

.ui-widget{
    box-shadow:2px 2px 2px black; 
    background-color:rgb(231, 231, 231);
} */

/* .ui-icon-closethick{
    box-shadow:0;
} */

#mainInfo-butt-close{
    float:right;
    border:none;
    background-color:rgb(231, 231, 231);
    font-size:25px;
    cursor:pointer;
    transition:0.5s;
}

#mainInfo-butt-close:hover{
    color:gray;
}

#mainInfo-title{
    font-size:750%;
}

#mainInfo-info{
    /* margin-bottom:5%; */
    font-size:200%;
}

.transMain-enter-active, .transMain-leave-active{
    transition: all 0.8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.transMain-enter, .transMain-leave-to{
    transform: translateY(-100%);
}

.transFinal-enter-active, .transFinal-leave-active{
    transition: all 0.8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.transFinal-enter, .transFinal-leave-to{
    transform: translateX(-100%);
}

.num{
    width:auto;
    height:0.3em;
    font-size:400%;
    background-color:rgb(255, 255, 255);
    display:inline-block;
    margin:5px;
    text-align:center;
    padding:3%;
    color:rgb(0, 0, 0);
    cursor:pointer;
    transition:1s;
    margin-top:-10px;
}

#main{
    transition:1s;
}

#final{
    text-align:center;
    transition:1s;
}

#final a{
    text-decoration:none;
    color:black;
}

#linkFinal{
    font-size:800%; 
}

#linkFinal:hover{
    text-decoration:underline black;
}

infLink:hover{
    text-decoration:underline black;
}

.inf{
    font-size:350%;
}

.dopInf{
    font-size:120%;
}