.mainInfoWindow-enter-active, .mainInfoWindow-leave-active{
    transition: all 0.8s;
}

.mainInfoWindow-enter, .mainInfoWindow-leave-to{
    transform: translateY(-500%);
}

.mainInfoWindow-enter-active, .mainInfoWindow-leave-active{
    transition: all 0.8s;
}

.mainInfoWindow-enter, .mainInfoWindow-leave-to{
    transform: translateY(500%);
}


.transMain-enter-active, .transMain-leave-active{
    transition: all 0.8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.transMain-enter, .transMain-leave-to{
    transform: translateY(-100%);
}

.transFinal-enter-active, .transFinal-leave-active{
    transition: all 0.8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.transFinal-enter, .transFinal-leave-to{
    transform: translateX(-100%);
}



.finalInfo-enter-active, .finalInfo-leave-active{
    transition: all 0.4s;
}

.finalInfo-enter, .finalInfo-leave-to{
    transform: translateY(5000%);
}

.finalInfo-enter-active, .finalInfo-leave-active{
    transition: all 0.4s;
}

.finalInfo-enter, .finalInfo-leave-to{
    transform: translateY(5000%);
}


.finalInfo2-enter-active, .finalInfo2-leave-active{
    transition: all 0.6s;
}

.finalInfo2-enter, .finalInfo2-leave-to{
    transform: translateY(5000%);
}

.finalInfo2-enter-active, .finalInfo2-leave-active{
    transition: all 0.6s;
}

.finalInfo2-enter, .finalInfo2-leave-to{
    transform: translateY(5000%);
}